<h1>{{title0}}</h1>
<p>Welcome to {{title0}}</p>

{{!-- <div>Hi! My name is {{name}}!</div> --}}

{{!-- <ul>
    {{#each users}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<p>Welcome to {{title2}}</p>
<ul>
    {{#each bikes}}
    <li>{{type}} : {{purpose}}</li>
    {{/each}}
</ul> --}}

<form action="/" method="POST">
    <div>
        <label for="description">Description:</label>
        <input id="description" name="description" />
    </div>
    <div>
        <button type="submit">submit</button>
    </div>
</form>